CLIENT_URL=http://localhost:5173
PORT=3000
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"

JWT_SECRET=<add here>
HASH_PREFIX=<add here>
HASH_SUFFIX=<add here>
HASH_SALT=<add here>

AWS_ACCESS_KEY_ID=<add here>
AWS_SECRET_ACCESS_KEY=<add here>
AWS_REGION=<add here>
AWS_BUCKET_NAME=<add here>